<div class="navbar navbar-expand navbar-dark " style="background-color:rgb(82, 80, 80) ; color: black;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a href="index.html" class="navbar-brand"><img src="../../../assets/logo.png" width="100px"></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
      </button>
        <ul class="navbar-nav mr-auto">
            <h4><a href="#" class="nav-item active nav-link">Inicio</a></h4>
            <h4><a href="#" class="nav-item active nav-link">Catalogo</a></h4>
            <h4><a href="#" class="nav item active nav-link">Articulos</a></h4>

            <li class="nav-item dropdown">
                <h4><a href="#" class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Sobre nosotros</a></h4>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="#" class="dropdown-item">Contacto</a>
                    <a href="#" class="dropdown-item">Lozalización</a>
                    <a href="#" class="dropdown-item">Sugerencias</a>
                </div>
            </li>
        </ul>

        <form action="#" method="post" class="form-inline my-2 mylg-0">
            <input type="search" name="buscar" id="buscar" class="form-control mr-sm-2" placeholder="Buscar articulos" aria-label="Buscar">
        </form>
        <a [routerLink]="['/login/login']" routerLinkActive="router-link-active"  class="navbar-brand"><button type="submit"><img class="img" src="../../../assets/login.png" width="30px"></button></a>
    </div>
  </div>
    
