<div class="grid">
    <div class="parrafo">
        <h2>Bienvenido a estanco 1997</h2>
        <br>
        <h3>Tu estanco de confianza en el que encontraras todo lo que necesites!</h3>
        <h5>A continuación te mostramos nuestros productos mas destacados</h5>
    </div>
    <div class="image-1">
        <img src="../../../assets/cajetilla.png" class="brand_logo" alt="Logo" width="110px">
    </div>
    <div class="image-2">
        <img src="../../../assets/vapes.png" class="brand_logo" alt="Logo"  width="110px">
    </div>
    <div class="image-3">
        <img src="../../../assets/shishas.png" class="brand_logo" alt="Logo"  width="110px">
    </div>
    <div class="texto-1">
        <h2>Tabacos</h2>
        <h4>Aqui podras encontrar todas las marcas de tabacos que conoces.</h4>
    </div>
    <div class="texto-2">
        <h2>Vapes</h2>
        <h4>Tambien tenemos vapes y pops, y todos sus accesorios</h4>
    </div>
    <div class="texto-3">
        <h2>Cachimbas</h2>
        <h4>El mundo de las cachimbas es nuestra especialidad, en este apartado encontraras cachimbas y sus accesorios.</h4>
    </div>
</div>
