<div class="grid">
    <div class="parrafo">
        <h1>Bienvenidos a nuestra pagina web</h1>
    </div>
    <div class="card mb-3 todo1">
        <img src="./assets/tabacos.jpg" class="card-img-top" alt="..." width="1000px">
        <div class="card-body">
          <h5 class="card-title">Tabacos</h5>
          <p class="card-text">Conoce nuestro producto, traemos los mejores tabacos</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card mb-3 todo2">
        <img src="./assets/pods.jpg" class="card-img-top" alt="..." width="1000px">
        <div class="card-body">
          <h5 class="card-title">Pods</h5>
          <p class="card-text">Conoce nuestro producto, traemos los mejores tabacos</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card mb-3 todo3">
        <img src="./assets/cachimbas.jpg" class="card-img-top" alt="..." width="1000px">
        <div class="card-body">
          <h5 class="card-title"> Cachimbas</h5>
          <p class="card-text">Conoce nuestro producto, traemos los mejores tabacos</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
</div>
